<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091955552892-cj8ieb1jeduhmenio4dckj6fuc457q00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091955552892-cj8ieb1jeduhmenio4dckj6fuc457q00</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1091955552892-0gea9s4vv61b6a8fqjlvp0d39f2a5o5a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuX2LkDiX6tMI1btUneFNlMZSeJulmaKk</string>
	<key>GCM_SENDER_ID</key>
	<string>1091955552892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.security</string>
	<key>PROJECT_ID</key>
	<string>health-care-176ad</string>
	<key>STORAGE_BUCKET</key>
	<string>health-care-176ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091955552892:ios:237b83b7b98f06bb334ff9</string>
	<key>DATABASE_URL</key>
	<string>https://health-care-176ad-default-rtdb.firebaseio.com</string>
</dict>
</plist>