<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4727165349-gh1u2kdo1039044d4n6d38pu2sfamjg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4727165349-gh1u2kdo1039044d4n6d38pu2sfamjg4</string>
	<key>API_KEY</key>
	<string>AIzaSyCcB-667wxj8AUCDGyRSXEDCyQy5RTVwjM</string>
	<key>GCM_SENDER_ID</key>
	<string>4727165349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authApp</string>
	<key>PROJECT_ID</key>
	<string>auth-app-bd0ff</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-app-bd0ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4727165349:ios:4186d0679db63ccbbe184c</string>
</dict>
</plist>